[MASTER]
ignore=migrations
load-plugins=pylint.extensions.bad_builtin,pylint.extensions.mccabe

[BASIC]
# List of builtins function names that should not be used, separated by a comma
bad-functions=input,print

# Good variable names which should always be accepted, separated by a comma
good-names=pk,i,j,k,v,e,ex,x,y,Run,tz

[DESIGN]

# Maximum number of arguments for function / method
max-args=8

# Maximum number of attributes for a class (see R0902).
max-attributes=8

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

# Maximum number of public methods for a class (see R0904).
max-public-methods=10

max-parents=15

[MESSAGES CONTROL]
disable=format,missing-class-docstring,missing-module-docstring

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME
