[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pygments = "*"
django-debug-toolbar = "*"

[dev-packages]
black="==21.5b1"
pylint = "*"

[requires]
python_version = "3.8"
